* {
    margin: 0;
    padding: 0;
    color: #14213d;
    font-family: sans-serif;
}

#header {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 10px;
    position: sticky;
    top: 0;
    background-color: #ffffff;
}

.logo {
    margin: 6px 12px;
    font-size: 1.25rem;
}

.logo span {
    color: #9fb603;
    transition: 0.4s;
}

.about a {
    text-decoration: none;
    color: #14213d;
    padding: 4px 8px;
}

.about a:hover {
    color: #9fb603;
    transition: 0.4s;
}

.btn button {
    padding: 5px 10px;
    margin: 6px 12px;
    letter-spacing: 1px;
    border-radius: 20px;
    color: #14213d;
    background-color: #ffffff;
    border: 2px solid #9fb603;
}

.btn button:hover {
    color: #ffffff;
    background-color: #9fb603;
    transition: 0.4s;
    cursor: pointer;
}

#main {
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-me span {
    color: #9fb603;
}

.about-me h1 {
    font-size: 3.2rem;
}

.about-me h3 {
    font-size: 2.3rem;
    margin: 10px 0;
}

#title {
    text-align: center;
    margin: 20px 0;
    padding: 20px 0;
    background-color: #f0f0f0;
}

#title h1 {
    font-size: 2rem;
}

#my-skills {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#my-skills i {
    font-size: 3rem;
}

.skills {
    padding: 10px;
    margin: 30px;
    width: 300px;
}

.skills p {
    margin-top: 10px;
}

.interest {
    text-align: center;
}

.interest p {
    font-size: 2rem;
}